.confirm-timer-date-collection-slash { 

  float: left;
  display: inline-block;
  margin-top: 7px;
  margin-left: 4px;
  margin-right: 4px;
}

.confirm-timer-date-collection { 

  display: inline-block;
  width:155px;
}

.confirm-timer-date-collection div { 

  float: left;
}

.confirm-timer-date-collection div input { 

  float: left;
}

.confirm-link { 

  color: blue;
}

.confirm-link:hover{ 

  cursor: pointer;
  text-decoration: underline;
}

.remove-link { 

  color: blue;
}

.remove-link:hover{ 

  cursor: pointer;
  text-decoration: underline;
}
