/**
 * Universal Properties
 */
.timer_label_active { 

  color: green;
  text-align: center;
}

#myActiveTimer .timer_label_active { 

  margin-bottom: 20px;
}

#myActiveTimer .timer_label_active.timer_task_link { 

  margin-bottom: 7px;
}

.timer_label_inactive { 

  color: red;
  text-align: center;
}

.timer_section_label { 

  text-align: center;
  font-weight: bold;
}

.timer_time { 

  border-style: solid;
  border-width: 2px;
  border-color: black;

  background-color: white;
 
  text-align: center;  
  font-weight: bold;

  margin-top: -15px;
  padding-bottom: 3px;
  margin-bottom: 7px;
}

.timer_buttons { 

  text-align: center;
}
